################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zlib
/lua5.1
.idea/
